body
{
  overflow: hidden;
}
.titulo
    {
        position: absolute;
        top: -20%;
        left: 6%;
        animation: rubberBand 4s;
        animation: bounceInDown 4s;  
}
.discveridi
    {
        position: absolute;
        top: 25%;
        left: 20%;  
        animation: fadeInLeftBig 3s;
        }
.texto
{ 
    color: yellow; 
    animation: fadeInRightBig 3s; 
    position: absolute; 
    top: -550%; 
    left: 100%
    
}
#menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2e5fc;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.menu-item {
    cursor: pointer;
    font-size: 20px;
    color: #5c5b9c;
    font-family: 'SpaceType', sans-serif;
}

.menu-item:hover {
    border-bottom: 2px solid black;
}

.menu-image {
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 86%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
    animation: bounceInUp 4s;
}
   